body{
 text-align:center;
 width:100%;
 margin:0 auto;
 padding:0px;
 font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
 background: linear-gradient(white, #D3D8E8);
}
#Encabezado_Principal{
 width:100%;
 min-width:980px;
 background-color:#4c66a4;
}
#encabezado{
 width:980px;
 margin:0px auto;
 padding:0px;
 height:85px;
}
#encabezado li{
 list-style-type:none;
 float:left;
 text-align:left;
 color:white;
}
#encabezado #sitename{
 margin-top:25px;
}
#encabezado #sitename a{
 color:white;
 text-decoration:none;
 font-size:30px;
 font-weight:900;
}
#encabezado form{
 margin-top:15px;
 float:right;
}
#encabezado form li{
 font-size:13px;
 margin-left:15px;
}
#encabezado form li a{
 color:#A9BCF5;
 text-decoration:none;
}
#encabezado form input[type="text"]{
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 border:1px solid #08298A;
 height:25px;
 padding-left:3px;
}
#encabezado form input[type="password"]{
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 border:1px solid #08298A;
 height:25px;
 padding-left:3px;
}
#encabezado form input[type="submit"]{
 height:25px;
 margin-top:20px;
 background-color:#084B8A;
 color:white;
 border:1px solid #08298A;
}
#footer{
 width:100%;
 clear:both;
 float:left;
 margin-top:30px;
 min-width:995px;
 background-color:white;
 text-align:left;
}
#footer1{
 width:980px;
 margin:0px auto;
 padding:0px;
 border-bottom:1px solid #E6E6E6;
 height:30px;
 line-height:30px;
 font-size:12px;
 color:#848484;
}
#footer1 a{
 color:#365899;
 display:inline;
 margin-left:10px;
 text-decoration:none;
}
#footer1 a:hover{
 text-decoration:underline;
}
#footer2{
 width:980px;
 margin:0px auto;
 padding:0px;
 font-size:12px;
 color:#848484;
}
#footer2 a{
 color:#365899;
 display:inline-block;
 margin:5px;
 margin-left:0px;
 min-width:80px;
 text-decoration:none;
}
#footer2 a:hover{
 text-decoration:underline;
}
#formulario_centro{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:980px;
}
#formulario_centro div{
 float:left;
 font-family: helvetica, arial, sans-serif;
}
#formulario_centro #div1{
 margin-top:30px;
 width:590px;
 text-align:left;
}
#formulario_centro #div1 p{
 font-size:20px;
 font-family:arial;
 font-weight:bold;
 margin:0px;
 color:#0e385f;
}
#formulario_centro #div2{
 margin-top:10px;
 width:390px;
 text-align:left;
}
#formulario_centro #div2 h1{
 margin:0px;
 font-size:37px;
 color:#2E2E2E;
}
#formulario_centro #div2 p{
 font-size:18px;
 color:#2E2E2E;
}
#formulario_centro #div2 li{
 list-style-type:none;
 margin-top:10px;
}
#formulario_centro #div2 li #nombre{
 width:49%;
 display: inline;
}
#apellido li{
	display: inline;
}
#nombre li{
	display: inline;
}
#formulario_centro #div2 li #apellido{
 /*margin-left:2%;*/
 width:49%;
}
#formulario_centro #div2 li input[type="text"]{
 width:100%;
 height:40px;
 border-radius:5px;
 padding-left:10px;
 font-size:18px;
 border:1px solid #BDBDBD;
}
#formulario_centro #div2 li input[type="password"]{
 width:100%;
 height:40px;
 border-radius:5px;
 padding-left:10px;
 font-size:18px;
 border:1px solid #BDBDBD;
}
#formulario_centro #div2 li select{
 padding:4px;
 float:left;
}
#formulario_centro #div2 li a{
 margin-left:10px;
 width:150px;
 color:#045FB4;
 text-decoration:none;
 font-size:11px;
 display: inline-block;
 vertical-align: middle;
 line-height:15px;
}
#formulario_centro #div2 li a:hover{
 text-decoration:underline;
}
#formulario_centro #div2 li{
 color:#2E2E2E;
 font-size:18px;
}
#formulario_centro #div2 #terms{
 color:#424242;
 font-size:11px;
}
#formulario_centro #div2 #terms a{
 display:inline;
 margin:0px;
}
#formulario_centro #div2 li input[type="submit"]{
 width:205px;
 height:45px;
 text-align:center;
 font-size:19px;
 margin-top: 10px;
 margin-bottom: 10px;
 font-family: 'Freight Sans Bold', helvetica, arial, sans-serif !important;
 font-weight: bold !important;
 background: linear-gradient(#67ae55, #578843);
 background-color: #69a74e;
 box-shadow: inset 0 1px 1px #a4e388;
 border-color: #3b6e22 #3b6e22 #2c5115;
 border: 1px solid;
 border-radius: 5px;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 position: relative;
 text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
#formulario_centro #div2 #create_page{
 color:#424242;
 font-size:13px;
 font-weight:bold;
}
#formulario_centro #div2 #create_page a{
 display:inline;
 margin:0px;
 font-size:13px;
}